<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="INFO" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">/Users/lusudong/Desktop/Download//logs/</property>
    </properties>
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} %-5p [%F\:%L]%x %m%n" />
        </Console>
        <RollingRandomAccessFile name="Fileout"
                                 fileName="${LOG_HOME}/apolloCenter.log"
                                 filePattern="${LOG_HOME}/apolloCenter.%d{yyyy-MM-dd}.log">
            <PatternLayout
                    pattern="%d{MM-dd HH:mm:ss.SSS}[%24F:%-3L:%-5p]%x %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Fileout" />
            <AppenderRef ref="Stdout" />
        </Root>
    </Loggers>
</Configuration>